<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <label>Username</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="username"
      >
      <!--or use [disabled]="username === ''" (click)="username = ''" "
          or use [disabled]="!username.length"-->
      <button
        class="btn btn-primary" 
        [disabled]="isempty()"
        (click)="resetUsername()"
      >Submit</button>
      <p [innerText]="username"></p>
    </div>
  </div>
</div>